{% extends 'movie/base.html' %}

{% load static %}
{% block body %}
    <center>
        <h2 style="padding-top: 15%">Add Category</h2>
        <br>
        <form style="width: 40%;" method="post" action="">
            {% csrf_token %}
            {% if error %}<p style="color: red">This Category Already Exist</p>{% endif %}
            <label>Category Name:</label>
            <input type="text" name="cat" placeholder="Category" class="form-control" required><br>
            <input class="btn btn-info" type="submit" value="Add" >

        </form>
        <br>
        <br>
        <span style="color: #9e1847">New User: Create Account. <a href="{% url 'MyMovie:register' %}">Click..></a></span>

    </center>
{% endblock %}