{% extends 'movie/base.html' %}

{% load static %}
{% block body %}
    <center>
        <h2 style="padding-top: 15%">Login Your Account</h2>
        <br>
        <form style="width: 40%;" method="post" action="">
            {% csrf_token %}
            {% if error %}<p style="color: red">Wrong Username or Password</p>{% endif %}
            <label>Username:</label>
            <input type="text" name="un" placeholder="Username" class="form-control" required><br>
            <label>Password:</label>
            <input type="password" name="ps" placeholder="Password" class="form-control" required><br>
            <input class="btn btn-info" type="submit" value="Login" >

        </form>
        <br>
        <br>
        <span style="color: #9e1847">New User: Create Account. <a href="{% url 'MyMovie:register' %}">Click..></a></span>

    </center>
{% endblock %}